[user]
	email = abdallahzalat66@gmail.com
	name = abdallahmansour6
[core]
	pager = cat
[init]
	defaultBranch = main
[push]
	followTags = true

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[credential]
	helper = store
